{% extends 'base.html.twig' %}
{% block title %} {{parent()}} | Mentions légales{% endblock %}
{% block style %}
<style>
body{
    
    background-image: url('https://www.sortiraparis.com/images/80/91874/582754-photos-le-cafe-de-l-homme.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
</style>
{% endblock %}


{% block body %}
<div class="mentions-legales">

    <h2>PROPRIÉTAIRE ET RESPONSABLE DE PUBLICATION</h2>
    <br>
    <h4> RESTAURANT CAFE Notre resto</h4>
    <br>
    <p>
    <strong> Société à responsabilité limitée (SARL)</strong>
    <br>

    <strong>N° SIRET </strong>: 7578 7578 7578 75
    <br>

    <strong> TVA Intracommunautaire </strong>: FR757875780
    <br>

    <strong>Adresse</strong> : 1 Rue de Chez nous 75003 Paris
    <br>

    <strong>Téléphone </strong>: 01 75 78 75 78
    <br>

    <strong>Email </strong>: contact@cheznous.fr
    <br>

    <strong>Responsable de publication </strong>: Mr C'est moi
    </p>


    <h2> DÉCLARATION COMMISSION NATIONALE INFORMATIQUE ET LIBERTÉS (CNIL)</h2>
    <p>
    Conformément à la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés et à l’article 43 de la loi du 30 septembre 1986 modifiée, ce site web a fait l’objet d’une déclaration auprès de la Commission Nationale Informatique et Libertés (CNIL).
    </p>

    <h2> COLLECTE DE DONNÉES PERSONNELLES ET COOKIES</h2>
    <p>
    Nos serveurs ne sont pas configurés pour collecter des informations personnelles sur les visiteurs du site en dehors des données techniques suivantes : provenance des connexions (fournisseur d’accès), adresse IP, type et version du navigateur utilisé.

    En aucun cas, nous ne collectons l’adresse e-mail des visiteurs sans que ces derniers ne nous la communiquent délibérément.

    Les données de trafic et les fichiers de cookies que nous implantons sur votre ordinateur ont uniquement pour finalité de nous permettre d’analyser la fréquentation de nos pages d’information afin d’en améliorer le contenu. Les données relatives à la navigation des visiteurs ne sont pas exploitées nominativement. Il s’agit de statistiques agrégées permettant de connaître les pages les plus et les moins populaires, les chemins préférés, les niveaux d’activité par jour de la semaine et par heure de la journée, les principales erreurs clients ou serveur.

    Les fonctionnalités de Google Analytics pour les annonceurs display sont activées pour sur ce site (Remarketing).
    Google utilise des cookies pour diffuser nos annonces sur les sites de son réseau Display.
    Grâce au cookie DoubleClick, Google adapte les annonces diffusées aux utilisateurs en fonction de leur navigation sur notre site.
    Vous pouvez désactiver l’utilisation de cette fonctionnalité en vous rendant sur le gestionnaire de préférences pour les annonces. (https://www.google.com/settings/u/0/ads)
    Nous vous rappelons que vous disposez, dans votre logiciel de navigation, de la possibilité de bloquer l’implantation de cookies sur votre ordinateur
    </p>
    

    <h2> PROPRIÉTÉ INTELLECTUELLE ET DROIT DE REPRODUCTION</h2>
    <p>
    L’ensemble des photos du site NOTRE RESTO, de quelque nature qu’elles soient, sont la propriété exclusive de Nous. Toute reproduction ou représentation, intégrale ou partielle, faite sans le consentement de l’auteur, serait illicite et constituerait une contrefaçon.

    La loi n’autorise, que les copies ou reproductions réservées à l’usage privé du copiste et non destinées à l’utilisation collective, d’une part, et, d’autre part, que les analyses et les courtes citations dans un but d’exemple et d’illustration.

    Nous bénéficions en France, de la loi sur la propriété intellectuelle, et, hors de France, de la protection du droit d’auteur dans tous les états signataires de la convention de Berne.

    L’ensemble des éléments figurant sur notre site NOTRE RESTO sont protégés par les dispositions du Code de la Propriété Intellectuelle. En conséquence, toute reproduction de ceux-ci, totale ou partielle, ou imitation, sans un accord exprès, préalable et écrit de notre part ou du propriétaire des dits éléments est interdite, sauf pour les photographies et éléments faisant l’objet d’une réglementation différente (voir autres licences ). Par ailleurs, l’utilisation des informations contenues sur le présent site relève de la seule responsabilité de l’utilisateur. Nous ne pourrions en aucun cas, et pour quelque cause que ce soit, en être tenus pour responsables, et ce, quelles qu’en soit les conséquences. Nous ne sommes responsables d’aucune erreur ou omission sur le présent site.
    </p>
    

    <h2> DROITS D’EXPLOITATION ET PROTECTION DES MATÉRIELS</h2>
    <p>
    L’ensemble des photos du site NOTRE RESTO, de quelque nature qu’elles soient, sont la propriété exclusive de NOTRE RESTO. Toute reproduction ou représentation, intégrale ou partielle, faite sans le consentement de l’auteur, serait illicite et constituerait une contrefaçon.

    La loi n’autorise, que les copies ou reproductions réservées à l’usage privé du copiste et non destinées à l’utilisation collective, d’une part, et, d’autre part, que les analyses et les courtes citations dans un but d’exemple et d’illustration.

    Nous bénéficions en France, de la loi sur la propriété intellectuelle, et, hors de France, de la protection du droit d’auteur dans tous les états signataires de la convention de Berne.

    L’ensemble des éléments figurant sur notre site NOTRE RESTO sont protégés par les dispositions du Code de la Propriété Intellectuelle. En conséquence, toute reproduction de ceux-ci, totale ou partielle, ou imitation, sans un accord exprès, préalable et écrit de notre part ou du propriétaire des dits éléments est interdite, sauf pour les photographies et éléments faisant l’objet d’une réglementation différente (voir autres licences ). Par ailleurs, l’utilisation des informations contenues sur le présent site relève de la seule responsabilité de l’utilisateur. Nous ne pourrions en aucun cas, et pour quelque cause que ce soit, en être tenus pour responsables, et ce, quelles qu’en soit les conséquences. Nous ne sommes responsables d’aucune erreur ou omission sur le présent site.
    </p>

</div>

{% include "footer.html.twig" %}

{% endblock %}