{% extends 'base.html.twig' %}

{% block title %}Modifier CategorieBoisson{% endblock %}

{% block body %}
      
    <h1>Modifier CategorieBoisson</h1>

    {{ include('admin_categorie_boisson/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-info ms-5 mb-5" href="{{ path('admin_categorie_boisson') }}">retour à la liste</a>

    {{ include('admin_categorie_boisson/_delete_form.html.twig') }}
{% endblock %}
