




<div class="footer-taille">
  <footer class=" d-flex flex-wrap justify-content-around align-items-center py-1 border-top border-2 border-warning">
    <h6 class="col-md-4 mb-0 text-dark">&copy; 2022 Company, Inc</h6>

    <a class="logo-footer" href="{{ path('home') }}"><img src="{{asset('images/logo-centre.png') }}" alt="" width="50" srcset=""></a>

    <ul class="nav col-md-5 justify-content-end ">
      <li class="nav-item"><a href="{{ path('contact') }}" class="nav-link px-2 text-dark">Nous trouver</a></li>
      <li class="nav-item"><a href="{{ path('mentions') }}" class="nav-link px-2 text-dark">Mentions légales</a></li>
      <li class="nav-item"><a href="https://www.facebook.com/paris" class="nav-link px-2 text-primary"><i class="fa-brands fa-facebook-square"></i></a></li>
      <li class="nav-item"><a href="https://www.instagram.com/paris/" class="nav-link px-2 text-danger"><i class="fa-brands fa-instagram-square"></i></a></li>
      <li class="nav-item"><a href="https://twitter.com/Paris" class="nav-link px-2 text-info"><i class="fa-brands fa-twitter-square"></i></a></li>

      
    </ul>
  </footer>
</div>

